input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.slashed {
  position: relative;
  display: inline-block;
}
.slashed::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -5%;
  height: 2px;
  width: 40%;
  background: rgba(0, 0, 0, 0.753);
  transform: rotate(25deg);
}

.left {
  margin-left: -40px;
}

#ganttChart {
  width: fit-content;
  overflow: hidden;
}

#timeline {
  white-space: nowrap;
  align-items: flex-end;
  position: relative;
  width: fit-content;
}

.timeline-block {
  border-radius: 4px;
  border: none;
}

.timeline-hrline {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
}

.timeline-vrline {
  width: calc(100% - 70px);
  border-top: 1px solid #000000;
  position: absolute;
  top: 48%;
  left: 35px;
}

.line {
  width: 0;
  border-left: 1px solid #000000;
  height: 100%;
}

.hide {
  display: none;
}

.tracking-tighter span {
  letter-spacing: -2px;
}

.tracking-tight,
.tracking-tight > * {
  letter-spacing: -1px;
}
